{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}

{{!-- Create a button in index.handlebars that will submit the user input into the database. --}}


{{!-- test code to see if rendering on main.handlebars --}}



<h2>Enter a Burger!!</h2>

<br>
<form action="/newBurger" method="post"><input type="text" name="burger_name">

<br>

<button type="submit">Place Order</button>

</form>